@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Mais fina */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #71717a; 
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1aa; 
  }

  .custom-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: #71717a transparent; 
  }
}