@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer components {
  .fancy-title {
    @apply text-2xl font-bold text-white font-bricolage flex items-center justify-center;
    
    &::before, &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      
      @apply h-[3px] w-8 bg-sky-500;
  
      box-shadow: 0 5px 0 0 rgb(14 165 233); 
    }

    &::before {
      @apply mr-2;
    }

    &::after {
      @apply ml-2;
    }
  }
}